<img src="/api/assets/images/Logo.png" class="header-img" />

<!--<nav class="navbar navbar-default navbar-fixed-top">-->
<nav class="navbar  navbar-light bg-dark navbar-fixed-top sticky-top">
  
  <div class="container">
    <!-- Do not show if user is logged in-->
    <div *ngIf="!userService.isLoggedIn()">
      <form class="form-inline">
          <a [routerLink]="['/index']">
            <img src="/api/assets/images/Logo-Small.png" class="index-button"/>
            <span>Home</span>
          </a>
        <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{message}}
        </div>
        <form class="form-signin" (ngSubmit)="login()" #loginForm="ngForm">
          <input type="text" class="form-control" [(ngModel)]="loginData.username" name="username" placeholder="Username...."
            required />-<input type="password" class="form-control" [(ngModel)]="loginData.password" name="password"
            placeholder="Password...." required />
          <button class="btn btn-primary" type="submit" [disabled]="!loginForm.form.valid">Login</button>

          <!-- Bind anchor to state to automatically generate and update ref-->
          <!--https://ui-router.github.io/ng1/docs/0.4.2/#/api/ui.router.state.directive:ui-sref-->
          <a [routerLink]="['/signup']">Signup here</a>
        </form>
      </form>
    </div>

    <!-- Show if user is logged in -->
    <div *ngIf="userService.isLoggedIn()">
      <form class="form-inline">

        <a [routerLink]="['/index']" class="link">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>

        <a [routerLink]="['/post-create']" class="link">
          <mat-icon>local_post_office</mat-icon>
          <span>Make post</span>
        </a>

        <a [routerLink]="['/about']" class="link">
          <mat-icon>info</mat-icon>
          <span>About Us</span>
        </a>

        <div class="header-page">
          <img mat-card-avatar alt="Poster" id="poster" src='/api/assets/images/{{usernamepic}}'>
            {{username}}

          <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/profile', username]">
                <mat-icon>account_circle</mat-icon>
                <span>Profile</span>
              </button>
              <button mat-menu-item [routerLink]="['/settings']">
                <mat-icon>settings</mat-icon>
                <span>Account</span>
              </button>
              <button mat-menu-item [routerLink]="['/saved', username]">
                <mat-icon>save</mat-icon>
                <span>Saved Posts</span>
              </button>
              <button mat-menu-item (click)="logout()">
                  <mat-icon>exit_to_app</mat-icon>
                  <span>Logout</span>
              </button>
            </mat-menu>
          </div>
          
      </form>
    </div>
  </div>
</nav>