.header-page {
  color: #fff;
  font-size: 12px;
  line-height: 50px;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.divider {
  display: inline-block;
  opacity: .5;
  padding: 0 4px;
}

.index-button {
  height: 17%;
  width: 17%;
  filter: brightness(1.5);
}

.link{
  padding-right: 10px;
}

a:hover {
  text-decoration: none;
  opacity: 1; 
}

a:active {
  text-decoration: none;
  text-decoration: underline;
}

a {
  opacity: 0.7; 
  color: white;
}