<div *ngIf="userAPI.isLoggedIn()">
  <form [formGroup]="commentForm" (ngSubmit)="onFormSubmit(commentForm.value)">
    <mat-form-field class="full-with-field" appearance="outline">
        <mat-label>Comment here {{username}} to join the community discussion!</mat-label>
        <input matInput formControlName="comment" [errorStateMatcher]="matcher">
        <mat-icon matSuffix>comment</mat-icon>
        <mat-error>
          <span *ngIf="!commentForm.get('comment').valid && commentForm.get('comment').touched">Comment cannot be blank!</span>
        </mat-error>
    </mat-form-field>

    <div class="button-row">
        <button type="submit" [disabled]="!commentForm.valid" mat-raised-button color="primary"><mat-icon>comment</mat-icon>Submit</button>
    </div>
  </form>
</div>

<div layout="column" layout-align="center end" class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
          
    <!-- Title Column -->
    <ng-container matColumnDef="profile">
      <th mat-header-cell *matHeaderCellDef> Profile ID </th>
      <td mat-cell *matCellDef="let element" class="picture-col"><a color="primary" [routerLink]="['/profile', element.profile_id]"> {{element.profile_id}} </a></td>
    </ng-container>

    <!-- Comment Column -->
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> Comment </th>
      <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>