<!-- Toggle to display follow or following -->
<mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedVal" (change)="onValChange()">

  <mat-button-toggle value="Followers">
    <mat-icon>format_align_left</mat-icon>
    Followers
  </mat-button-toggle>

  <mat-button-toggle value="Following">
    <mat-icon>format_align_right</mat-icon>
    Following
  </mat-button-toggle>

</mat-button-toggle-group>
<div class="example-selected-value">Selected value: {{group.value}} Selected: {{selectedVal}}</div>

 <!-- List of all that is following user -->
<div *ngIf="selectedVal">
  <h3>Followers</h3>
  <div *ngFor="let user of allFollowers">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title my-0">{{ user.fullName }}</h4>
        <p class="text-muted my-0"><a [routerLink]="['/profile', user.username]">@{{ user.username }}</a></p>
        <p class="card-text my-0">{{ user.bio || 'No bio info'}}</p>
      </div>
    </div>
  </div>
</div>

 <!-- List of all that a user is following -->
<div *ngIf="!selectedVal">
  <h3>Following</h3>
  <div *ngFor="let user of allFollowing">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title my-0">{{ user.fullName }}</h4>
        <p class="text-muted my-0"><a [routerLink]="['/profile', user.username]">@{{ user.username }}</a></p>
        <p class="card-text my-0">{{ user.bio || 'No bio info'}}</p>
      </div>
    </div>
  </div>
</div>
