<div class="container">
  <form class="form-signin" (ngSubmit)="login()" #loginForm="ngForm">
      <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{message}}
      </div>
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" class="form-control" placeholder="Email address" [(ngModel)]="loginData.username" name="username" required/>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="loginData.password" name="password" required/>
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.form.valid">Sign in</button>
      <p>
          Not a member? <a [routerLink]="['/signup']">Signup here</a>
      </p>
  </form>
</div>