/* Sets items to be centred */
.center {
    text-align: center;
}

/* Sets items to be indented left */
.left {
   float: left; 
}

/* Angular mat-card item settings */
.card {
    max-width: 450px;
    min-width: 400px;  
    margin: 10px;
}

/* Container div for set children div side by side */
#container {
    display:                 flex;
    display:                 -webkit-flex; /* Safari 8 */
    flex-wrap:               wrap;
    -webkit-flex-wrap:       wrap;         /* Safari 8 */
    justify-content:         center;
    -webkit-justify-content: center;       /* Safari 8 */
}