<div class="center">
  <h1>
    Welcome
  </h1>
  <p>
    TechBook is a github project developed by Cian Gannon and Kevin Barry as part of their coursework in GMIT.
    This website was devloped as their final year project as part of the Level 8 Software Development course.
  </p>

  <br>

  <h1>
      The Team:
  </h1>
  <div id="container">
    <div>
      <mat-card class="card"> 
        <mat-card-header>
          <img mat-card-avatar src='https://avatars1.githubusercontent.com/u/22448047?s=460&v=4.png'>
          <mat-card-title><a href="https://github.com/cian2009">Cian Gannon's Github</a></mat-card-title>
          <mat-card-subtitle>Github profile for Cian Gannon</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Software developement (Level 8) student from GMIT
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card class="card">
        <mat-card-header>
          <img mat-card-avatar src='https://avatars2.githubusercontent.com/u/22517425?s=460&v=4.png'>
          <mat-card-title><a href="https://github.com/kbarry91">Kevin Barry's Github</a></mat-card-title>
          <mat-card-subtitle>Github profile for Kevin Barry</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Software developement (Level 8) student from GMIT
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <br>
  
  <h1>
      The Project Components:
  </h1>
  <div class="left">
      <mat-card class="card">
          <mat-card-header>
            <img mat-card-avatar src='https://avatars2.githubusercontent.com/u/44436082?s=200&v=4.png'>
            <mat-card-title><a href="https://github.com/Final-Year-Project-Cian-Kevin/final-project">Project Source Code</a></mat-card-title>
            <mat-card-subtitle>Swagger UI documentation for project API</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <p>
                The Swagger UI is an open source project to visually render documentation for an API defined with the OpenAPI (Swagger) Specification.
              </p>
              <p>
                  Swagger UI lets you visualize and interact with the API’s resources without having any of the implementation logic in place, making it easy for back end implementation and client side consumption.
              </p>
            </mat-card-content>
        </mat-card>
  </div>
  
  <div class="left">
      <mat-card class="card">
          <mat-card-header>
            <img mat-card-avatar src='https://www.linnovate.net/sites/all/themes/linnovate/images/mean-picture.png'>
            <mat-card-title><a href="http://mean.io/">MEAN Stack</a></mat-card-title>
            <mat-card-subtitle>Mongo, Express, Angular and Node</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <p>
                MEAN is a free and open-source JavaScript software stack for building dynamic web sites and web applications.
              </p>
              <p>
                  The MEAN stack is MongoDB, Express.js, AngularJS (or Angular), and Node.js. Because all components of the MEAN stack support programs that are written in JavaScript, MEAN applications can be written in one language for both server-side and client-side execution environments.
              </p>
            </mat-card-content>
        </mat-card>
  </div>
  
  <div class="left">
      <mat-card class="card">
        <mat-card-header>
          <img mat-card-avatar src='https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Swagger-logo.png/150px-Swagger-logo.png'>
          <mat-card-title><a href="/api-docs/">Swagger Documentation</a></mat-card-title>
          <mat-card-subtitle>Swagger UI documentation for project API</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              The Swagger UI is an open source project to visually render documentation for an API defined with the OpenAPI (Swagger) Specification.
            </p>
            <p>
                Swagger UI lets you visualize and interact with the API’s resources without having any of the implementation logic in place, making it easy for back end implementation and client side consumption.
            </p>
          </mat-card-content>
      </mat-card>
  </div>

  <div class="left">
    <mat-card class="card">
      <mat-card-header>
        <img mat-card-avatar src='https://s18955.pcdn.co/wp-content/uploads/2017/05/Reddit.png'>
        <mat-card-title><a href="https://www.reddit.com/dev/api/">Reddit API</a></mat-card-title>
        <mat-card-subtitle>Reddit API used to get more content</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <p>
            Reddit is an American social news aggregation, web content rating, and discussion website. Registered members submit content to the site such as links, text posts, and images, which are then voted up or down by other members.
          </p>
          <p>
              Reddit API offers an easy and less stenosis way of accessing the user content on Reddit. It offers access to nearly every feature on the site that a typical user has access to. 
          </p>
        </mat-card-content>
    </mat-card>
  </div>
  
  <div class="left">
    <mat-card class="card">
      <mat-card-header>
        <img mat-card-avatar src='https://miro.medium.com/max/576/1*fY5KPXK0C6csHKhnXkQQ8g.png'>
        <mat-card-title><a href="https://www.mongodb.com/">MongoDB</a></mat-card-title>
        <mat-card-subtitle>JSON-like documents with schemata</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
            MongoDB is a cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schemata.
        </p>
        <p>
            A record in MongoDB is a document, which is a data structure composed of field and value pairs. MongoDB documents are similar to JavaScript Object Notation objects but use a variant called Binary JSON (BSON)
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="left">
    <mat-card class="card">
        <mat-card-header>
          <img mat-card-avatar src='https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/359/landscape/expressjslogo.png'>
          <mat-card-title><a href="https://expressjs.com/">Express.js</a></mat-card-title>
          <mat-card-subtitle>Web framework for Node.js</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Express.js, or simply Express, is a web application framework for Node.js, released as free and open-source software under the MIT License. It is designed for building web applications and APIs. It has been called the de facto standard server framework for Node.js.
          </p>
          <p>
            Fast, unopinionated, minimalist web framework for Node.js. Released on the 22nd of May 2010.
          </p>
        </mat-card-content>
    </mat-card>
  </div>
  
  <div class="left">
    <mat-card class="card">
        <mat-card-header>
          <img mat-card-avatar src='https://angular.io/assets/images/logos/angular/angular.svg'>
          <mat-card-title><a href="https://angular.io/">Angular Framework</a></mat-card-title>
          <mat-card-subtitle>Angular 6 Framework</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
              Angular 6 is a JavaScript framework for building web applications and apps in JavaScript, html, and TypeScript, which is a superset of JavaScript. Angular provides built-in features for animation, http service, and materials which in turn has features such as auto-complete, navigation, toolbar, menus, etc.
          </p>
          <p>
              The code is written in TypeScript, which compiles to JavaScript and displays the same in the browser.
          </p>
        </mat-card-content>
    </mat-card>
  </div>

  <div class="left">
    <mat-card class="card">
        <mat-card-header>
          <img mat-card-avatar src='https://pluralsight.imgix.net/paths/path-icons/nodejs-601628d09d.png'>
          <mat-card-title><a href="https://nodejs.org/en/">Node.JS</a></mat-card-title>
          <mat-card-subtitle>JavaScript run-time environment</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Node.js is an open-source, cross-platform JavaScript run-time environment that executes JavaScript code outside of a browser. Node.js lets developers use JavaScript to write command line tools and for server-side scripting—running scripts server-side to produce dynamic web page content.
          </p>
          <p>
            Node.js represents a "JavaScript everywhere" paradigm, unifying web application development around a single language.
          </p>
        </mat-card-content>
    </mat-card>
  </div>

  <div class="left">
    <mat-card class="card">
        <mat-card-header>
          <img mat-card-avatar src='https://cdn.glitch.com/project-avatar/0d184ee3-fd8d-4b94-acf4-b4e686e57375.png'>
          <mat-card-title><a href="http://www.passportjs.org/">Passport.JS</a></mat-card-title>
          <mat-card-subtitle>Authentication middleware for Node.js</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Passport is authentication middleware for Node.js. Extremely flexible and modular, Passport can be unobtrusively dropped in to any Express-based web application. A comprehensive set of strategies support authentication using a username and password, Facebook, Twitter, and more.
          </p>
          <p>
            Passport.js offers a secure and flexible way of authenticating users through the JWT which acts as a sites 'Passport'.
          </p>
        </mat-card-content>
    </mat-card>
  </div>

  <div class="left">
    <mat-card class="card">
        <mat-card-header>
          <img mat-card-avatar src='https://www.lvsys.com/pub/photo/thumb/512px-HTML5-logo.svg_fitbox_700x700.png'>
          <mat-card-title><a href="https://www.w3.org/html/">HTML</a></mat-card-title>
          <mat-card-subtitle>Web Pages</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Hypertext Markup Language is the standard markup language for creating web pages and web applications. With Cascading Style Sheets and JavaScript, it forms a triad of cornerstone technologies for the World Wide Web.
          </p>
          <p>
            HTML elements are the building blocks of HTML pages. With HTML constructs, images and other objects such as interactive forms may be embedded into the rendered page.
          </p>
        </mat-card-content>
    </mat-card>
  </div>

  <div class="left">
    <mat-card class="card">
        <mat-card-header>
          <img mat-card-avatar src='https://fuzati.com/wp-content/uploads/2016/12/CSS-Logo.png'>
          <mat-card-title><a href="https://www.w3.org/Style/CSS/">CSS</a></mat-card-title>
          <mat-card-subtitle>Styling for Web Documents</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language like HTML.[1] CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.
          </p>
          <p>
            CSS is designed to enable the separation of presentation and content, including layout, colors, and fonts. Enables multiple web pages to share CSS in a separate .css file
          </p>
        </mat-card-content>
    </mat-card>
  </div>
</div>

