<!-- Post card that contain post data -->
<mat-card class="card">
  <mat-card-header>
    <mat-card-title align="left"><img src="{{post?.thumbnail}}" height="50" width="50" align="left"/><a align="left" href="{{post.url}}"><h2>{{post.title}}</h2></a></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dd><img src="{{post?.pic}}" height="500"/></dd>
      <dd><p> {{post.selftext}} </p></dd>
    </dl>
    <mat-card-actions>
      <!-- If user is logged in -->
      <div *ngIf="userAPI.isLoggedIn()">
          <button mat-button color="primary" *ngIf="!followed" (click)="sub()"><mat-icon>add</mat-icon>SUBSCRIBE</button>
          <button mat-button color="primary" *ngIf="followed" (click)="unsub()"><mat-icon>check_box</mat-icon>SUBSCRIBED</button>
          <button mat-button color="primary" [routerLink]="['/profile/', post.subreddit]"><mat-icon>person</mat-icon>{{post.subreddit}}'s Profile</button>
      </div>
      <!-- If user is not logged in -->
      <div *ngIf="!userAPI.isLoggedIn()">
          <button mat-button color="primary" [routerLink]="['/login/']"><mat-icon>add</mat-icon>SUBSCRIBE</button>
          <button mat-button color="primary" [routerLink]="['/profile/', post.subreddit]"><mat-icon>person</mat-icon>{{post.subreddit}}'s Profile</button>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<!-- Comments card with comments component -->
<mat-card class="card">
  <app-comments></app-comments>
</mat-card>