<!--
     This is the main component of an angular app, 
     and all other components are usually present within this component. 
     src/app/app.component.ts is the logic for this component, 
     and src/app/app.component.css is the CSS for this component.
     This component itself does not do any important logic, but acts as a container for other components.
-->

<!-- app-header is the component used to fix the logo image to the page -->
<app-header></app-header>

<!-- router-outlet is used to dynamically bring components into the view when they are called -->
<router-outlet></router-outlet>
