body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }
  
  .form-register {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-register .form-register-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-register .checkbox {
    font-weight: normal;
  }
  .form-register .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-register .form-control:focus {
    z-index: 2;
  }
  .form-register input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-register input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .form-register p {
    margin-top: 10px;
  }
  .spacer{
    margin-top: 10px;
    width: 100%;
  }
  .spacerh:nth-last-child() {
    margin-bottom: 10px;
  }
  .button-row {
    margin: auto;
  }
  .form-register h3 {
    text-align: center;
  }
  