<div class="container">

  <form class="form-register" [formGroup]="passwordFormGroup" (ngSubmit)="onFormSubmit()">
    <h3>Register new user account</h3>

    <mat-form-field class="spacer">
      <input matInput placeholder="username" formControlName="username" [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!passwordFormGroup.get('username').valid && passwordFormGroup.get('username').touched">Please
          Enter
          firstname</span>
      </mat-error>
      <mat-error *ngIf="serverError == 'error'">Email is <strong>{{serverError}}</strong></mat-error>
    </mat-form-field>

    <mat-form-field class="spacer">
      <input matInput placeholder="first_name" formControlName="first_name" [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!passwordFormGroup.get('first_name').valid && passwordFormGroup.get('first_name').touched">Please
          Enter
          firstname</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="spacer">
      <input matInput placeholder="surname" formControlName="surname" [errorStateMatcher]="matcher">
      <mat-error>
        <span *ngIf="!passwordFormGroup.get('surname').valid && passwordFormGroup.get('surname').touched">Please enter
          surname</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="spacer">
      <!-- <div class="alert alert-warning alert-dismissible" role="alert" *ngIf="errorMessage !== ''">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{errorMessage}}
      </div>
      -->
      <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="matcher">
      <mat-error *ngIf="!passwordFormGroup.get('email').valid && passwordFormGroup  .get('email').touched">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="passwordFormGroup.hasError('email')">Please enter a valid email address</mat-error>
    </mat-form-field>

    <mat-form-field class="spacer">
      <input matInput type="password" placeholder="Password" formControlName="password" (input)="onPasswordInput()">
      <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="password.hasError('minlength')">Password must have at least {{minimumPwLength}} characters</mat-error>
    </mat-form-field>

    <mat-form-field class="spacer">
      <input matInput type="password" placeholder="Confirm password" formControlName="password2" (input)="onPasswordInput()">
      <mat-error *ngIf="password2.hasError('required')">Please confirm your password</mat-error>
      <mat-error *ngIf="password2.invalid && !password2.hasError('required')">Passwords don't match</mat-error>
    </mat-form-field>

    <div class="button-row">
      <button type="submit" [disabled]="!passwordFormGroup.valid" mat-raised-button color="primary">Register<mat-icon>save</mat-icon></button>
    </div>
  </form>
</div>
