/* Angular bakcground settings */
:host {
    background-color: white;
    display: block;
}

/* Image settings */
.header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}