<h1>Banter Bay:</h1>
<div class="scrollmenu">
  <div *ngFor="let post of posts" class="example-item">
      <mat-card class="post-card" [routerLink]="['/post/', post._id]">
        <mat-card-header>
          <div mat-card-avatar class="post-header-image"></div>
          <mat-card-title>{{post.title}}</mat-card-title>
          <mat-card-subtitle>{{post.subreddit}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="post.thumbnail" width="100" height="200">
        <mat-card-content>
          <p>
            {{post.selftext}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>VIEW</button>
          <button mat-button>SAVE</button>
        </mat-card-actions>
      </mat-card>
  </div>
</div>
