.profile-card {
  margin: auto;
  margin-top:  15px;
  width: 50%;
  padding: 10px;
}

.comment-card {
  max-width: 450px;
  min-width: 400px;
  float: left;
  margin: 15px;
}

.post {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
  
.example-header-image {
  background-size: cover;
}

.post-card {
  max-width: 400px;
  min-width: 400px;
}

.post-header-image {
  background-size: cover;
}

.user {
  float: left;
}

.post {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu div {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}