<form [formGroup]="postForm" (ngSubmit)="onFormSubmit(postForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title" formControlName="title"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!postForm.get('title').valid && postForm.get('title').touched">Please enter Title</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="URL" formControlName="url"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!postForm.get('url').valid && postForm.get('url').touched">Please enter URL</span>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="selftext" formControlName="selftext"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!postForm.get('selftext').valid && postForm.get('selftext').touched">Please enter text</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!postForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>